.banana-playlist {
    width: 93%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#autoWidth,
#autoWidth1,
#autoWidth2,
#autoWidth3 {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y:hidden ;
    scroll-behavior: smooth;
}

.item {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 10px;
}

.item img {
    width: 100%;
    height: auto;
}


h4, p {
    margin: 10px 0;
}

.button-container {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.prev,
.next {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #121212;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}